apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      type: NodePort
    ports:
      web:
        exposedPort: 80
        nodePort: {{ k3s_traefik_http_node_port }}
        forwardedHeaders:
          trustedIPs: {{ traefik_forwarded_headers_trusted_ips | to_json }}
      websecure:
        expose: false
