apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: aws-parameter-store
  namespace: {{ observability_namespace }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ grafana_admin_secret_name }}
  namespace: {{ observability_namespace }}
spec:
  data:
    - remoteRef: {key: {{ ssm_parameter_keys.grafana_admin_user }}}
    - remoteRef: {key: {{ ssm_parameter_keys.grafana_admin_password }}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unexpected
  namespace: {{ observability_namespace }}
