apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: aws-parameter-store
  namespace: {{ observability_namespace }}
spec:
  provider:
    aws:
      service: ParameterStore
      region: {{ aws_region }}
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: {{ observability_aws_credentials_secret_name }}
            key: access-key-id
          secretAccessKeySecretRef:
            name: {{ observability_aws_credentials_secret_name }}
            key: secret-access-key
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ grafana_admin_secret_name }}
  namespace: {{ observability_namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: aws-parameter-store
  target:
    name: {{ grafana_admin_secret_name }}
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: {{ ssm_parameter_keys.grafana_admin_user }}
    - secretKey: admin-password
      remoteRef:
        key: {{ ssm_parameter_keys.grafana_admin_password }}
