[defaults]
inventory = inventory/hosts.example.yml
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
stdout_callback = default
callback_result_format = yaml

[privilege_escalation]
become = True
