apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: learning-platform-swagger-runtime
  namespace: {{ learning_platform_namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: aws-parameter-store
  target:
    name: learning-platform-swagger-runtime
    creationPolicy: Owner
  data:
    - secretKey: SWAGGER_USERNAME
      remoteRef:
        key: {{ ssm_parameter_keys.swagger_username }}
    - secretKey: SWAGGER_PASSWORD
      remoteRef:
        key: {{ ssm_parameter_keys.swagger_password }}
